---
layout: default
title: Archive
---

<!-- Begin List Posts
================================================== -->
<section class="recent-posts">
<div class="section-title mt-2">
    <h2>Archive of posts from <span>{{ page.type }} '{{ page.title }}'</span></h2>
</div>
<div class="row listrecent">

{% for post in site.posts %}
{% assign postyear = post.date | date: "%Y" %}
{% if postyear == page.year %}
	{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		<h2 class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{{ page.date | date: date_format }}
		</h2> 
		<p> 		
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
		</p>
{% endif %}    

{% endfor %}

</div>
</section>

